* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: monospace;
}
.container {
    height: 100vh;
    background-image: url(img/wood.jpg);
    background-size: cover;
}
h1 {
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 4rem;
    display: none;
}
h2 {
    color: white;
    text-align: center;
    margin-top: 1.2%;
    font-size: 2.5rem;
}
.score {
    text-align: right;
    color: white;
    margin: 2% 4% 0 0;
    font-size: 2rem;
}
div {
    /* border: 2px solid black; */
    position: absolute;
    display: none;
    cursor: pointer;
}
.div1 {
    /* height: auto; */
    width: 15%;
}
.div2 {
    /* height: auto; */
    width: 18%;
}
.div3 {
    /* height: auto; */
    width: 25%;
}
.div4 {
    /* height: auto; */
    width: 22%;
}
.div5 {
    /* height: auto;*/
    width: 20%;
}
.animation1 {
    display: block;
    animation: sky1 6s 0s linear alternate infinite;
}
.animation2 {
    display: block;
    animation: sky2 6s 0s linear alternate infinite;
}
.animation3 {
    display: block;
    animation: sky3 7s 0s linear alternate infinite;
}
.animation4 {
    display: block;
    animation: sky4 6s 0s linear alternate infinite;
}
.animation5 {
    display: block;
    animation: sky5 6s 0s linear alternate infinite;
}
div img {
    height: auto;
    width: 100%;
}
button {
    display: none;
    margin: 2% auto;
    padding: 0.5rem 2.5rem;
    font-size: 1.5rem;
    border-radius: 1.2rem;
    cursor: pointer;
    background-color: green;
    color: aliceblue;
}
button:hover {
    box-shadow: 0 0 20px green;
}
@keyframes sky1 {
    0% {
        bottom: -50%;
        left: 5%;
        transform: rotate(0deg);
    }
    50% {
        bottom: 65%;
        left: 15%;
        transform: rotate(-360deg);
    }
    100% {
        bottom: -50%;
        left: 25%;
        transform: rotate(-720deg);
    } 
}
@keyframes sky2 {
    0% {
        bottom: -50%;
        right: 5%;
        transform: rotate(0deg);
    }
    50% {
        bottom: 65%;
        right: 15%;
        transform: rotate(-360deg);
    }
    100% {
        bottom: -50%;
        right: 25%;
        transform: rotate(-720deg);
    } 
}
@keyframes sky3 {
    0% {
        left: -20%;
        top: -10%;
        transform: rotate(0deg);
    }
    50% {
        left: 40%;
        top: 100%;
        transform: rotate(-720deg);
    } 
    100% {
        left: 100%;
        top: -10%;
        transform: rotate(-1440deg);
    } 
}
@keyframes sky4 {
    0% {
        right: -25%;
        top: -10%;
        transform: rotate(0deg);
    }
    100% {
        right: 50%;
        top: 100%;
        transform: rotate(-720deg);
    } 
}
@keyframes sky5 {
    0% {
        left: -25%;
        top: -20%;
        transform: rotate(0deg);
    }
    100% {
        left: 70%;
        top: 100%;
        transform: rotate(720deg);
    } 
}